<li class="list-group-item" [ngClass]="{'list-group-item-info': filmOnAir == true,
                                        'list-group-item-warning': filmOnAir == false}">
    <div class="row">
        <div class="col-3">
            <img [src]="filmAffiche" alt="Jurassic Park" class="affiche"> <br>
        </div>
        <div class="col-7">
            <div class="onAir" *ngIf="filmOnAir == false">
                <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Blu-ray_Disc.svg/1200px-Blu-ray_Disc.svg.png" alt="Blue Ray">
            </div>
            <div class="onAir" *ngIf="filmOnAir == true">
                <img class="logo" src="https://fr.web.img3.acsta.net/r_654_368/newsv7/21/04/29/14/22/0010719.jpg" alt="Cinéma">
            </div>
            <h3 [ngStyle]="{color: changeColor()}">Nouveau Film : {{ filmName }} -- Visibilité : {{ getOnAir() }}</h3>
            <button class="btn btn-outline-success" (click)="onWatchFilm()">Regarder</button> <br>
            <button class="btn btn-outline-info" (click)="onSwitch()">Switch</button>
        </div>
        <div class="col-2">
            <a [routerLink]="" class="btn btn-warning">M</a>
            <button class="btn btn-danger">X</button>
        </div>
    </div>
</li>
